SkillUpHub.Auth.API/bin/
SkillUpHub.Auth.API/obj/
SkillUpHub.Auth.Core/bin/
SkillUpHub.Auth.Core/obj/
SkillUpHub.Auth.Data/bin/
SkillUpHub.Auth.Data/obj/
SkillUpHub.Auth.Tests/bin/
SkillUpHub.Auth.Tests/obj/