SkillUpHub.Auth.API/bin/
SkillUpHub.Auth.API/obj/
SkillUpHub.Auth.Contract/bin/
SkillUpHub.Auth.Contract/obj/
SkillUpHub.Auth.Infrastructure/bin/
SkillUpHub.Auth.Infrastructure/obj/
SkillUpHub.Auth.Tests/bin/
SkillUpHub.Auth.Tests/obj/
SkillUpHub.Auth.Application/bin/
SkillUpHub.Auth.Application/obj/
Dockerfile
build.bat
SkillUpHub.Auth.API/appsettings.json